@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --border: 240 6% 90%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --border: 240 4% 16%;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
